.fa-solid, .far, .fa-regular {
    font-weight: 200;
    font-size: 1.7rem;
}

.valeurs-section {
  background: #f2f5f9;
  padding: 60px 0;


  .valeurs-title {
    text-align: center;
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 50px;
  }

  .valeurs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;

    .valeur-item {
      display: flex;
      align-items: flex-start; // important pour aligner comme sur ta photo
      gap: 25px;

      /* ★★ ICÔNE QUI RESTE TOUJOURS RONDE ★★ */
      .valeur-icon {
        width: 80px;
        height: 80px;
        background: #32c0c6;
        color: $white;
        border-radius: 50%;
        flex-shrink: 0;        // ← la ligne utile !!!!!!
        @include flex-center;  
        
      }
      /* CONTENU TEXTE */
      .valeur-content {
        h4 {
          margin: 0 0 8px 0;
          font-weight: 800;
          font-size: 15px;
          text-transform: uppercase;
        }

        p {
          margin: 0;
          color: #666;
          line-height: 1.7;
          font-size: 15px;
        }
      }
    }
  }

  // responsive
  @media (max-width: 768px) {
    .valeurs-grid {
      grid-template-columns: 1fr;

      .valeur-item {
        .valeur-icon {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
