/* SECTION */
.testimonials {
  padding: 80px 0;
  text-align: center;
}

/* On tue la mega card Mariages.net */
.weddingwireWidget {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  max-width: none !important;
  margin-top: 50px;
}

/* Header (note + étoiles) */
.weddingwireWidget__header {
  margin-bottom: 40px;
}

/* CONTENEUR DES AVIS */
.weddingwireWidget > div:not(.weddingwireWidget__header):not(.weddingwireWidget__footer) {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* DESKTOP : 3 AVIS EN LIGNE */
@media (min-width: 768px) {
  .weddingwireWidget > div:not(.weddingwireWidget__header):not(.weddingwireWidget__footer) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}


/* CARD AVIS */
.weddingWireWidgetReview {
  background: #f8f8f8;
  padding: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Header avis */
.weddingWireWidgetReview__header {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

/* Avatar */
.weddingWireWidgetReview__avatar img,
.avatar-generic {
  border-radius: 50%;
}

/* Nom + date */
.weddingWireWidgetReview__user {
  font-size: 14px;
}

/* Titre avis */
.weddingWireWidgetReview__title {
  font-weight: 700;
  margin-bottom: 10px;
}

/* Texte */
.weddingWireWidgetReview__post {
  font-size: 14px;
  line-height: 1.6;
  color: #6f7880;
  margin-top: auto;
}

/* Footer */
.weddingwireWidget__footer {
  margin-top: 40px;
}
