@mixin transition($t: 0.3s) {
  transition: all $t ease;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin underline-hover($color) {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: $color;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}