$rose: #ff6b9d;
$violet: #c471f5;
$gris: #666;
$gris-fonce: #333;

$gris-clair: #555;
$white: #fff;

$bleu-impress: rgb(70, 188, 198);  
$bleu-fonce-impress: rgb(70, 104, 198);  

$jaune-impress: rgb(240, 165, 22); 

$rose-impress: rgb(255, 83, 157); 

$gradient-roseviolet: linear-gradient(90deg, $rose, $violet);
$gradient-bluepurple: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
$gradient-blueimpressthem: linear-gradient(90deg, rgb(70, 188, 198), rgb(100, 208, 218));
$gradient-blueimpressthem-fonce: linear-gradient(90deg, rgb(70, 151, 198), rgb(70, 188, 198));