@import "./abstracts/mixins";
@import "./abstracts/variables";


@import "./layout/header";
@import "./layout/carousel";
@import "./layout/cards";
@import "./layout/nosValeurs";
@import "./layout/temoignage";
@import "./layout/footer";



.container  {
  margin: 0 auto;
  width: 100%;
  padding: 0px 120px 0px 120px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}